---
layout: single 
classes: wide

---


Our proposed workshop aims to bridge the disciplines of biomechanics and robotics, specifically focusing on human motion analysis and the whole-body control of humanoid robots. The translation of human motion into humanoid robotics represents a burgeoning interdisciplinary field. Over the past two decades, traditional bipedal walking gait generation and whole-body control based on dynamic model optimization have made significant strides but encountered their respective limitations. Recent advancements in machine learning, computer vision, and computational capabilities have led to notable progress in the analysis of human motion, particularly in complex skill movements. We believe that connecting human motion analysis with full-body control in robotics, drawing inspiration from human engineering and biomechanical models, presents a promising research direction with substantial prospects.



<ul>
  <li><a href="/topics/estimation">Human state estimation: assessment and exploitation for humanoid robots</a></li>
  <li><a href="/topics/transfer">Transferring human motion skills to humanoid robots</a></li>
  <li><a href="/topics/dda">Leveraging Data-Driven Methods for Versatile Humanoid Robot Motion Generation</a></li>
  <li><a href="/topics/control">Optimization-based multi-contact optimal whole-body control</a></li>
  <li><a href="/topics/design">Fostering future industrial applications and novel mechanical design</a></li>
</ul> 

Attendees will have the opportunity to engage in face-to-face discussions with both junior and senior scientists, gain hands-on experience with the latest control software, and network with researchers from the United States, Europe, and Asia. Additionally, we will also live-cast the workshop on YouTube and disseminate recorded presentations through our website. <br> 
<br>

This workshop not only advances scientific knowledge but also holds profound societal implications. Real-time locomotion control is pivotal for the innovation of upcoming assistive tools like exoskeletons and prosthetics.<br>

<br>

In summary, the workshop will showcase state-of-the-art methodologies and insights into human motion transfer, aiming to elevate the proficiency and resilience of humanoid robot movements and promote scholarly discourse and community interaction.


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
